@font-face {
    font-family: "TT Lakes";
    src: url(font/TTLakes-Regular.woff) format("woff");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    ;
}

@font-face {
    font-family: "TT Lakes bold";
    src: url(font/TTLakes-Bold.woff) format("woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 768px;
    min-height: 1024px;
}

.aside {
    max-width: 320px;
    min-height: 1024px;
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
    font-family: "TT Lakes", sans-serif;
}

.aside>*:not(.aside-main__text) {
    margin-left: 24px;
}

.aside-buttons {
    margin-right: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.aside-buttons--top {
    padding-top: 18px;
}

.aside-buttons--bottom {
    margin-bottom: 16px;
}

.aside-buttons__button--center {
    margin: 0 16px;
}

.aside-buttons__logo {
    margin-left: 16px;
    margin-right: auto;
}

.aside-main__text {
    margin-top: 50px;
    margin-bottom: 268px;
    list-style: none;
    padding: 0;
    font-size: 16px;
    line-height: 32px;
}

.aside-main__item {
    margin-top: 20px;
    padding-left: 24px;
}

.aside-main__item:hover {
    cursor: pointer;
    color: #7E7E82;
    background: no-repeat left/ 1% 100% url(img/highlight.svg);
}

.mail {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    text-decoration: none;
    display: inline-block;
    color: black;
}

.phone-number {
    font-family: "TT Lakes bold";
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
}

.language__button {
    margin-right: 7px;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    color: black;
    border: none;
    background-color: white;
    padding: 0;
}

.language__button:hover {
    cursor: pointer;
    color: #7E7E82;
}